<div class="@className">
	<MudAvatar Class="@avatarClass">
		@if (Image is null)
		{
			<span class="@fallbackClass">
				@Title.ExtractInitials()
			</span>
		}
		else
		{
			<img class="@imageClass"
				 src="@Image"
				 alt="">
		}
	</MudAvatar>
	<div class="flex flex-col gap-1 overflow-hidden">
		@{
			var titleSplit = Title.Split([",", " "], StringSplitOptions.RemoveEmptyEntries);
			<span class="@titleClass">
				@titleSplit[0] @titleSplit[^1]
			</span>

		}
		<span class="@descriptionClass">
			@Description
		</span>
	</div>
</div>

@namespace GOPS.Blazor.Server.Components

@code {
	string className => new CssBuilder("flex items-center select-none gap-x-2")
		.AddClass(Class)
		.Build();

	string titleClass => new CssBuilder()
		.AddClass(TitleClass)
		.Build();

	string descriptionClass => new CssBuilder()
		.AddClass(DescriptionClass)
		.Build();

	string avatarClass => new CssBuilder()
		.AddClass(AvatarClass)
		.Build();

	string fallbackClass => new CssBuilder()
		.AddClass(FallBackClass)
		.Build();

	string imageClass => new CssBuilder()
		.AddClass(ImageClass)
		.Build();

	[Parameter]
	public string Title { get; set; } = "";

	[Parameter]
	public string? Description { get; set; } = "";

	[Parameter]
	public string? Image { get; set; }

	[Parameter]
	public string Class { get; set; } = "";

	[Parameter]
	public string AvatarClass { get; set; } = "";

	[Parameter]
	public string ImageClass { get; set; } = "";

	[Parameter]
	public string FallBackClass { get; set; } = "";

	[Parameter]
	public string TitleClass { get; set; } = "";

	[Parameter]
	public string DescriptionClass { get; set; } = "";
}
