<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="bg-background dark:bg-background-dark md:p-2">
	<MudDrawer @bind-Open="@_drawerOpen"
			   Elevation="0"
			   Width="270px">
		<MudDrawerHeader>
			<AppIcon />
			<span>
				GOPS
			</span>
			<div class="font-black text-foreground-accentdark bg-primary saturate-[4] select-none rounded-2xl px-3 py-1 text-xs">
				v1.0.0
			</div>
		</MudDrawerHeader>

		<NavMenu />
	</MudDrawer>

	<MudMainContent>
		<MudAppBar Color="@Color.Transparent"
				   Elevation="0">
			<CustomTooltip Text="@(_drawerOpen ? "Close drawer" : "Open drawer")"
						   Placement="Placement.Right">
				<MudIconButton OnClick="@DrawerToggle"
							   Class="text-foreground hover:bg-hover dark:text-foreground-dark hover:dark:bg-hover-dark">
					<svg width="24px"
						 height="24px"
						 viewBox="0 0 24 24"
						 fill="none"
						 stroke="currentColor"
						 stroke-width="1.5"
						 stroke-linecap="round"
						 stroke-linejoin="round">
						<path d="M17 12L7 12M7 12L11 16M7 12L11 8" />
					</svg>
				</MudIconButton>
			</CustomTooltip>

			<MudSpacer />

			<ToggleButton Class="mr-2 rounded-full !p-[12px] hover:bg-hover hover:dark:bg-hover-dark">
				<ToggleOnContent>
					<span class="text-secondary text-base font-bold">EN</span>
				</ToggleOnContent>
				<ToggleOffContent>
					<span class="text-secondary text-base font-bold">PT</span>
				</ToggleOffContent>
			</ToggleButton>

			<ThemeSwitch DarkChanged="@ChangeTheme"
						 Class="text-foreground hover:bg-hover dark:text-foreground-dark hover:dark:bg-hover-dark" />
		</MudAppBar>

		<div class="px-2 pt-6 md:!px-4">
			@Body
		</div>
	</MudMainContent>
</MudLayout>



@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

@code {
	bool _drawerOpen;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}

	void DrawerToggle() => _drawerOpen = !_drawerOpen;

	async Task ChangeTheme()
	{
		await JSRuntime.InvokeVoidAsync("theme.toggleDarkMode");
	}

	string GetVersion() => "v1.0";
}
