<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="md:p-2 bg-background dark:bg-background-dark">
	<MudDrawer @bind-Open="@_drawerOpen"
			   Elevation="0"
			   Width="270px">
		<MudDrawerHeader>
			<img class="h-[4rem] w-[4rem] saturate-[4]"
				 src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
				 alt="Your Company">
				<span>
					GOPS
				</span>
			<div class="select-none px-3 py-1 rounded-2xl text-xs font-black text-foreground-accentdark bg-primary saturate-[4]">
				v1.0.0
			</div>
		</MudDrawerHeader>

		<NavMenu />
	</MudDrawer>

	<MudMainContent>
		<MudAppBar Color="@Color.Transparent"
				   Elevation="0">
			<CustomTooltip Text="@(_drawerOpen ? "Close drawer" : "Open drawer")"
						   Placement="Placement.Right">
				<MudIconButton OnClick="@DrawerToggle"
							   Class="text-foreground dark:text-foreground-dark hover:bg-hover hover:dark:bg-hover-dark">
					<svg width="24px"
						 height="24px"
						 viewBox="0 0 24 24"
						 fill="none"
						 stroke="currentColor"
						 stroke-width="1.5"
						 stroke-linecap="round"
						 stroke-linejoin="round">
						<path d="M17 12L7 12M7 12L11 16M7 12L11 8" />
					</svg>
				</MudIconButton>
			</CustomTooltip>

			<MudSpacer />

			<ToggleButton Class="mr-2 !p-[12px] rounded-full hover:bg-hover hover:dark:bg-hover-dark">
				<ToggleOnContent>
					<span class="text-base font-bold text-secondary">EN</span>
				</ToggleOnContent>
				<ToggleOffContent>
					<span class="text-base font-bold text-secondary">PT</span>
				</ToggleOffContent>
			</ToggleButton>

			<ThemeSwitch DarkChanged="@ChangeTheme"
						 Class="text-foreground dark:text-foreground-dark hover:bg-hover hover:dark:bg-hover-dark" />
		</MudAppBar>

		<div class="px-2 md:!px-4 pt-6">
			@Body
		</div>

		<MudScrollbar Selector=".gops-scrollbar"
					  Hide="false"
					  Style="width: 8px !important;"
					  BorderRadius="6" />
	</MudMainContent>
</MudLayout>



@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

@code {
	bool _drawerOpen;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}

	void DrawerToggle() => _drawerOpen = !_drawerOpen;

	async Task ChangeTheme()
	{
		await JSRuntime.InvokeVoidAsync("theme.toggleDarkMode");
	}

	string GetVersion() => "v1.0";
}
