<div class="flex flex-col pt-3 gap-y-6 bg-surface dark:bg-surface-dark">
	@foreach (var people in Peoples ?? [])
	{
		var totalHours = Scheduler?.GetTotalHoursPerPeople(people.Id);

		<div @key="people.Id"
			 class="flex flex-row min-h-24 shadow-lg ring-1 ring-inset dark:ring-0 ring-border rounded-2xl bg-surface dark:bg-container-dark">
			<div class="grid w-full"
				 style="@GridTemplateStyle">
				<div class="z-50 w-[5rem] md:w-[10rem] cursor-pointer rounded-r-2xl bg-surface dark:bg-surface-dark"
					 style="@FixedStyle">
					<div class="flex rounded-2xl w-full h-full items-center py-4 pl-4 md:!pl-3 pr-3 border-r border-border dark:border-border-dark bg-surface dark:bg-container-dark">

						<User Title="@people.ToString()"
							  Description=@($"{totalHours} Hrs")
							  Image="@people.ImageProfile"
							  TooltipPlacement="Placement.Right"
							  Class="overflow-hidden"
							  AvatarClass="hidden md:flex !h-12 !w-12 bg-container dark:bg-surface-dark"
							  ImageClass="inline-block h-12 w-12"
							  FallBackClass="text-base font-black leading-none text-primary-400 dark:text-primary-400"
							  TitleClass="text-ellipsis whitespace-break-spaces overflow-hidden font-black text-xs text-foreground dark:text-foreground-dark"
							  DescriptionClass="text-xs font-medium text-foreground- dark:text-foreground-dark" />
					</div>
				</div>

				@if (Scheduler?.CurrentView is ViewType.DayView)
				{
					var currentDate = Scheduler!.CurrentDate;
					var shifts = GetShift(currentDate!.Value, people.Id);
					var isPast = currentDate!.Value.IsPastDate();

					<SchedulerTimeCell Shifts="@shifts"
									   ColumnCount="@Scheduler!.ColumnCount"
									   Disabled="@isPast"
									   DisableRipple="@isPast" />
				}
				else
				{
					@foreach (var dayCell in Scheduler?.DayCells ?? new())
					{
						var shifts = GetShift(dayCell.Date, people.Id);
						var isPast = dayCell.Date.IsPastDate();

						<SchedulerDayCell Shifts="@shifts"
										  Disabled="@isPast"
										  DisableRipple="@isPast"
										  OnDoubleClick="@((shift) => OpenDialog(shift, people, dayCell.Date))" />
					}

					<div class="rounded-r-2xl"></div>
				}
			</div>
		</div>
	}
</div>

@namespace GOPS.Blazor.Server.Components.Internal

@code {

	[CascadingParameter]
	Scheduler? Scheduler { get; set; }

	[Parameter]
	public List<People>? Peoples { get; set; }

	[Parameter]
	public string? FixedStyle { get; set; }

	[Parameter]
	public string? GridTemplateStyle { get; set; }

	List<Shift> GetShift(DateTime? date, Guid peopleId)
	{
		var shifts = Scheduler?.Shifts?
			.Where(x => x.PeopleId == peopleId && x.StartDate.IsDateEqual(date!.Value))
			.OrderBy(x => x.StartDate)
			.ToList();

		return shifts ?? [];
	}

	void OpenDialog(Shift? shift, People people, DateTime selectDate)
	{
		string title = shift is null ? "Add shift" : "Edit shift";

		var parameters = new DialogParameters<SchedulerShiftDialog>()
		{
			{ x => x.SelectedShift, shift },
			{ x => x.Title, title},
			{ x => x.SelectedPeople, people},
			{ x => x.Peoples!, Scheduler?.Peoples},
			{ x => x.StartDate, selectDate}
		};

		var options = new DialogOptions
			{
				FullScreen = false,
				CloseOnEscapeKey = true,
				NoHeader = false,
				Position = DialogPosition.Center,
				MaxWidth = MaxWidth.ExtraLarge
			};

		DialogService.Show<SchedulerShiftDialog>(title, parameters, options);
	}
}
