<div class="flex flex-row items-center md:justify-between md:justify-normal md:gap-x-2 md:w-full p-2 md:p-4 mb-1 rounded-2xl bg-container dark:bg-container-dark">
	<CustomButton Elevation="true"
				  Rounded="true"
				  Class="px-6 py-3 text-xs font-semibold text-foreground-accent dark:text-foreground-dark bg-surface dark:bg-surface-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70">
		@Scheduler?.CurrentDateText
	</CustomButton>

	<Spacer />

	<div class="group relative flex items-center rounded-2xl shadow-lg bg-surface dark:bg-surface-dark">
		<CustomButton Elevation="false"
					  Rounded="false"
					  OnClick=@(() => OffsetDate(-1))
					  Class="h-full flex items-center justify-center rounded-l-2xl py-3 px-4 text-foreground-accent dark:text-foreground-dark group-hover:!bg-surface/20 group-hover:dark:!bg-surface-dark/70 focus:relative">
			<svg class="h-5 w-5"
				 viewBox="0 0 20 20"
				 fill="currentColor"
				 fill-rule="evenodd"
				 clip-rule="evenodd">
				<path d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" />
			</svg>
		</CustomButton>

		<CustomButton Elevation="false"
					  Rounded="false"
					  OnClick=@(() => OffsetDate(0))
					  Class="hidden md:flex h-full py-3 px-4 items-center justify-center text-xs font-semibold text-foreground-accent dark:text-foreground-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70 focus:relative">
			Today
		</CustomButton>

		<Divider Vertical="true"
				 Class="md:hidden h-[1.5rem]" />

		<CustomButton Elevation="false"
					  Rounded="false"
					  OnClick=@(() => OffsetDate(1))
					  Class="h-full flex items-center justify-center rounded-r-2xl py-3 px-4  text-foreground-accent dark:text-foreground-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70 focus:relative">
			<svg class="h-5 w-5"
				 viewBox="0 0 20 20"
				 fill="currentColor"
				 fill-rule="evenodd"
				 clip-rule="evenodd">
				<path d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" />
			</svg>
		</CustomButton>
	</div>

	<MudMenu DisableElevation="true"
			 AnchorOrigin="Origin.BottomRight"
			 TransformOrigin="Origin.TopRight"
			 Class="max-sm:ml-2"
			 PopoverClass="w-56 !mt-3 !shadow-lg rounded-2xl ring-1 ring-black dark:ring-border-dark ring-opacity-5 dark:bg-background-dark"
			 ListClass="!p-2">
		<ActivatorContent>
			<button class="mud-ripple md:min-w-[7rem] flex items-center shrink-0 grow-0 py-3 px-4 shadow-lg rounded-2xl text-sm font-semibold bg-surface dark:bg-surface-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70">
				<svg class="h-5 w-5 md:hidden text-neutral-700 dark:text-foreground-dark"
					 viewBox="0 0 25 25"
					 fill="none"
					 fill-rule="evenodd"
					 clip-rule="evenodd"
					 stroke="currentColor"
					 stroke-width="1.5"
					 stroke-linecap="round"
					 stroke-linejoin="round">
					<path d="M6.5 12.7656C6.5 13.3176 6.052 13.7656 5.5 13.7656C4.948 13.7656 4.5 13.3176 4.5 12.7656C4.5 12.2136 4.948 11.7656 5.5 11.7656C6.052 11.7656 6.5 12.2136 6.5 12.7656Z" />
					<path d="M13.5 12.7656C13.5 13.3176 13.052 13.7656 12.5 13.7656C11.948 13.7656 11.5 13.3176 11.5 12.7656C11.5 12.2136 11.948 11.7656 12.5 11.7656C13.052 11.7656 13.5 12.2136 13.5 12.7656Z" />
					<path d="M20.5 12.7656C20.5 13.3176 20.052 13.7656 19.5 13.7656C18.948 13.7656 18.5 13.3176 18.5 12.7656C18.5 12.2136 18.948 11.7656 19.5 11.7656C20.052 11.7656 20.5 12.2136 20.5 12.7656Z" />
				</svg>
				<span class="hidden md:flex text-xs leading-5 font-semibold text-foreground-accent dark:text-foreground-dark focus:relative">
					@Scheduler?.CurrentView?.GetEnumDescription()
				</span>
			</button>
		</ActivatorContent>
		<ChildContent>
			<MudMenuItem Class="md:hidden px-4 py-3 rounded-2xl hover:bg-hover hover:dark:bg-container-dark">
				<span class="text-sm text-foreground dark:text-foreground-dark">
					Add groups
				</span>
			</MudMenuItem>
			<MudMenuItem Class="md:hidden px-4 py-3 rounded-2xl hover:bg-hover hover:dark:bg-container-dark">
				<span class="text-sm text-foreground dark:text-foreground-dark">
					Reorder groups
				</span>
			</MudMenuItem>
			<Divider Class="md:hidden w-[95%] my-1" />
			<MudMenuItem Class="md:hidden px-4 py-3 rounded-2xl hover:bg-hover hover:dark:bg-container-dark"
						 OnClick=@(() => OffsetDate(0))>
				<span class="text-sm text-foreground dark:text-foreground-dark">
					Go to today
				</span>
			</MudMenuItem>
			<Divider Class="md:hidden w-[95%] my-1" />
			@foreach (var view in Enum.GetValues<ViewType>())
			{
				<MudMenuItem @key="@view"
							 Class="px-4 py-3 rounded-2xl hover:bg-hover hover:dark:bg-container-dark"
							 OnAction="@(() => ViewChanged(view))">
					<span class="text-sm text-foreground dark:text-foreground-dark">
						@view.GetEnumDescription()
					</span>
				</MudMenuItem>
			}
		</ChildContent>
	</MudMenu>

	<Divider Vertical="true"
			 Class="hidden md:flex h-[1.5rem]" />

	<!--AddGroup-->
	<CustomButton Elevation="true"
				  Rounded="true"
				  Class="max-sm:hidden py-3 px-4 text-foreground-accent dark:text-foreground-dark bg-surface dark:bg-surface-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70">
		<svg class="h-5 w-5"
			 viewBox="0 0 25 24"
			 fill="none"
			 stroke="currentColor"
			 stroke-width="1.5"
			 stroke-miterlimit="10">
			<path d="M9.31006 19.5639C8.41506 19.5639 7.87423 18.92 7.83594 18.0232C7.83594 16.1978 9.61797 15.5681 12.303 15.5469C14.9928 15.5752 16.7796 16.2049 16.77 18.0232C16.7269 18.92 16.1893 19.5639 15.2959 19.5639H9.31006Z" />
			<path d="M12.3037 13.2324C13.5933 13.2324 14.6387 12.187 14.6387 10.8975C14.6387 9.6079 13.5933 8.5625 12.3037 8.5625C11.0141 8.5625 9.96875 9.6079 9.96875 10.8975C9.96875 12.187 11.0141 13.2324 12.3037 13.2324Z" />
			<path stroke-linecap="round" stroke-linejoin="round" d="M6.85954 10.8828C4.63008 10.9004 3.15039 11.4233 3.15039 12.939C3.18218 13.6837 3.63125 14.2183 4.37441 14.2183H7.26158" />
			<path stroke-linecap="round" stroke-linejoin="round" d="M17.4412 10.8828C19.6707 10.9004 21.1504 11.4233 21.1504 12.939C21.1186 13.6837 20.6695 14.2183 19.9264 14.2183H17.0392" />
			<path d="M6.59506 8.31511C7.66583 8.31511 8.53386 7.44708 8.53386 6.37631C8.53386 5.30553 7.66583 4.4375 6.59506 4.4375C5.52428 4.4375 4.65625 5.30553 4.65625 6.37631C4.65625 7.44708 5.52428 8.31511 6.59506 8.31511Z" />
			<path d="M17.7057 8.31511C16.6349 8.31511 15.7669 7.44708 15.7669 6.37631C15.7669 5.30553 16.6349 4.4375 17.7057 4.4375C18.7765 4.4375 19.6445 5.30553 19.6445 6.37631C19.6445 7.44708 18.7765 8.31511 17.7057 8.31511Z" />
		</svg>
	</CustomButton>

	<!--ReorderGroup-->
	<CustomButton Elevation="true"
				  Rounded="true"
				  Class="max-sm:hidden py-3 px-4 text-foreground-accent dark:text-foreground-dark bg-surface dark:bg-surface-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70">
		<svg class="h-5 w-5"
			 viewBox="0 0 25 25"
			 fill="none"
			 stroke="currentColor"
			 stroke-width="1.5"
			 stroke-linecap="round"
			 stroke-linejoin="round">
			<path d="M14.5 6.46562C14.5 5.52674 15.2611 4.76562 16.2 4.76562H18.8C19.7389 4.76562 20.5 5.52674 20.5 6.46563V9.06563C20.5 10.0045 19.7389 10.7656 18.8 10.7656H16.2C15.2611 10.7656 14.5 10.0045 14.5 9.06563V6.46562Z" />
			<path d="M14.5 16.4656C14.5 15.5267 15.2611 14.7656 16.2 14.7656H18.8C19.7389 14.7656 20.5 15.5267 20.5 16.4656V19.0656C20.5 20.0045 19.7389 20.7656 18.8 20.7656H16.2C15.2611 20.7656 14.5 20.0045 14.5 19.0656V16.4656Z" />
			<path d="M10.5 5.76619C8.9087 5.76619 7.38258 6.39833 6.25736 7.52355C5.13214 8.64877 4.5 10.1749 4.5 11.7662C4.5 13.3575 5.13214 14.8836 6.25736 16.0088C7.57755 17.329 9.17979 18.019 11.3885 18.1524" />
			<path d="M8.89648 19.5938L11.4261 18.1536L9.986 15.624" />
		</svg>
	</CustomButton>

	<!--ExpandGroups-->
	<ToggleButton @bind-Toggle="@Scheduler!.GroupsExpanded"
				  Rounded="true"
				  Elevation="true"
				  Class="max-sm:hidden text-foreground-accent dark:text-foreground-dark bg-surface dark:bg-surface-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70">
		<ToggleOnContent>
			<svg class="h-5 w-5"
				 viewBox="0 0 25 25"
				 fill="none"
				 stroke="currentColor"
				 stroke-width="1.5"
				 stroke-linecap="round"
				 stroke-linejoin="round">
				<path d="M8.28313 3.76562H16.7178C19.6659 3.76562 21.5 5.84584 21.5 8.792V16.7392C21.5 19.6844 19.6659 21.7656 16.7169 21.7656H8.28313C5.33503 21.7656 3.5 19.6844 3.5 16.7392V8.792C3.5 5.84584 5.34378 3.76562 8.28313 3.76562Z" />
				<path d="M15.2444 17.2411L12.4987 14.5664L9.75391 17.2411" />
				<path d="M9.75391 8.28906L12.4996 10.9647L15.2444 8.28906" />
			</svg>
		</ToggleOnContent>
		<ToggleOffContent>
			<svg class="h-5 w-5"
				 viewBox="0 0 25 25"
				 fill="none"
				 stroke="currentColor"
				 stroke-width="1.5"
				 stroke-linecap="round"
				 stroke-linejoin="round">
				<path d="M8.28313 3.76562H16.7178C19.6659 3.76562 21.5 5.84584 21.5 8.792V16.7392C21.5 19.6844 19.6659 21.7656 16.7169 21.7656H8.28313C5.33503 21.7656 3.5 19.6844 3.5 16.7392V8.792C3.5 5.84584 5.34378 3.76562 8.28313 3.76562Z" />
				<path d="M15.2444 14.8945L12.4987 17.5692L9.75391 14.8945" />
				<path d="M9.75391 10.6366L12.4996 7.96094L15.2444 10.6366" />
			</svg>
		</ToggleOffContent>
	</ToggleButton>

	<Divider Vertical="true" Class="hidden md:flex h-[1.5rem]" />

	<!--ViewOptions-->
	<MudMenu DisableElevation="true"
			 AnchorOrigin="Origin.BottomRight"
			 TransformOrigin="Origin.TopRight"
			 PopoverClass="w-56 !mt-3 !shadow-lg rounded-2xl ring-1 ring-black dark:ring-border-dark ring-opacity-5 dark:bg-background-dark"
			 ListClass="!p-2">
		<ActivatorContent>
			<MudElement class="mud-ripple max-sm:hidden px-4 py-3 rounded-2xl shadow-lg text-sm font-semibold dark:ring-border-dark ring-opacity-5 bg-surface dark:bg-surface-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70">
				<svg class="h-5 w-5 text-foreground-accent dark:text-foreground-dark"
					 viewBox="0 0 24 25"
					 fill="none"
					 stroke="currentColor"
					 stroke-width="1.5"
					 stroke-linecap="round"
					 stroke-linejoin="round">
					<path d="M4 13.7064C7.2 6.77236 16.8 6.77236 20 13.7064" />
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.0034 17.4366C10.7314 17.4366 9.69141 16.4016 9.69141 15.1236C9.69141 13.8466 10.7314 12.8105 12.0034 12.8105C13.2764 12.8105 14.3164 13.8466 14.3164 15.1236C14.3164 16.4016 13.2764 17.4366 12.0034 17.4366Z" />
				</svg>
			</MudElement>
		</ActivatorContent>
		<ChildContent>
			<div class="p-1 flex flex-col">
				<span class="pb-2 pt-3 text-xs font-medium text-neutral-400 dark:text-neutral-500">Fixed:</span>
				<CustomSwitch @bind-Checked="@Scheduler!.FixedHeader"
							  Label="Header"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.FixedMember"
							  Label="Member"
							  Class="mb-2 justify-between" />
				<Divider Class="w-[95%] my-1" />
				<span class="pb-2 pt-3 text-xs font-medium text-neutral-400 dark:text-neutral-500">View by:</span>
				<CustomSwitch @bind-Checked="@Scheduler!.ViewByPeople"
							  Label="People"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.ViewByShift"
							  Label="Shift"
							  Class="mb-2 justify-between" />
				<Divider Class="w-[95%] my-1" />
				<span class="pb-2 pt-3 text-xs font-medium text-neutral-400 dark:text-neutral-500">Show:</span>
				<CustomSwitch @bind-Checked="@showFlights"
							  Label="Flights"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.ShowGroups"
							  Label="Groups"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.ShowNotes"
							  Label="Notes"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.ShowPeopleScheduled"
							  Disabled="@(Scheduler!.CurrentView is not ViewType.WeekView ? false : true)"
							  Label="People Schedule"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@showShiftConflicts"
							  Label="Shift conflits"
							  Class="mb-2 justify-between" />
			</div>
		</ChildContent>
	</MudMenu>
</div>


<!--Subtoolbar for small medias-->
<div class="md:hidden flex flex-row items-center justify-between md:justify-normal gap-x-2 md:w-full p-2 mb-1 rounded-2xl bg-container dark:bg-container-dark">
	<Spacer />
	<!--ExpandGroups-->
	<ToggleButton @bind-Toggle="@Scheduler!.GroupsExpanded"
				  Rounded="true"
				  Elevation="true"
				  Class="text-foreground-accent dark:text-foreground-dark bg-surface dark:bg-surface-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70">
		<ToggleOnContent>
			<svg class="h-5 w-5"
				 viewBox="0 0 25 25"
				 fill="none"
				 stroke="currentColor"
				 stroke-width="1.5"
				 stroke-linecap="round"
				 stroke-linejoin="round">
				<path d="M8.28313 3.76562H16.7178C19.6659 3.76562 21.5 5.84584 21.5 8.792V16.7392C21.5 19.6844 19.6659 21.7656 16.7169 21.7656H8.28313C5.33503 21.7656 3.5 19.6844 3.5 16.7392V8.792C3.5 5.84584 5.34378 3.76562 8.28313 3.76562Z" />
				<path d="M15.2444 17.2411L12.4987 14.5664L9.75391 17.2411" />
				<path d="M9.75391 8.28906L12.4996 10.9647L15.2444 8.28906" />
			</svg>
		</ToggleOnContent>
		<ToggleOffContent>
			<svg class="h-5 w-5"
				 viewBox="0 0 25 25"
				 fill="none"
				 stroke="currentColor"
				 stroke-width="1.5"
				 stroke-linecap="round"
				 stroke-linejoin="round">
				<path d="M8.28313 3.76562H16.7178C19.6659 3.76562 21.5 5.84584 21.5 8.792V16.7392C21.5 19.6844 19.6659 21.7656 16.7169 21.7656H8.28313C5.33503 21.7656 3.5 19.6844 3.5 16.7392V8.792C3.5 5.84584 5.34378 3.76562 8.28313 3.76562Z" />
				<path d="M15.2444 14.8945L12.4987 17.5692L9.75391 14.8945" />
				<path d="M9.75391 10.6366L12.4996 7.96094L15.2444 10.6366" />
			</svg>
		</ToggleOffContent>
	</ToggleButton>

	<!--ViewOptions-->
	<MudMenu DisableElevation="true"
			 AnchorOrigin="Origin.BottomRight"
			 TransformOrigin="Origin.TopRight"
			 PopoverClass="w-56 !mt-3 !shadow-lg rounded-2xl ring-1 ring-black dark:ring-border-dark ring-opacity-5 dark:bg-background-dark"
			 ListClass="!p-2">
		<ActivatorContent>
			<MudElement class="mud-ripple px-4 py-3 rounded-2xl shadow-lg text-sm font-semibold bg-surface dark:bg-surface-dark hover:bg-surface/20 hover:dark:bg-surface-dark/70">
				<svg class="h-5 w-5 text-foreground-accent dark:text-foreground-dark"
					 viewBox="0 0 24 25"
					 fill="none"
					 stroke="currentColor"
					 stroke-width="1.5"
					 stroke-linecap="round"
					 stroke-linejoin="round">
					<path d="M4 13.7064C7.2 6.77236 16.8 6.77236 20 13.7064" />
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.0034 17.4366C10.7314 17.4366 9.69141 16.4016 9.69141 15.1236C9.69141 13.8466 10.7314 12.8105 12.0034 12.8105C13.2764 12.8105 14.3164 13.8466 14.3164 15.1236C14.3164 16.4016 13.2764 17.4366 12.0034 17.4366Z" />
				</svg>
			</MudElement>
		</ActivatorContent>
		<ChildContent>
			<div class="p-1 flex flex-col ">
				<span class="pb-2 pt-3 text-xs font-medium text-neutral-400 dark:text-neutral-500">Fixed:</span>
				<CustomSwitch @bind-Checked="@Scheduler!.FixedHeader"
							  Label="Header"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.FixedMember"
							  Label="Member"
							  Class="mb-2 justify-between" />
				<Divider Class="w-[95%] my-1" />
				<span class="pb-2 pt-3 text-xs font-medium text-neutral-400 dark:text-neutral-500">View by:</span>
				<CustomSwitch @bind-Checked="@Scheduler!.ViewByPeople"
							  Label="People"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.ViewByShift"
							  Label="Shift"
							  Class="mb-2 justify-between" />
				<Divider Class="w-[95%] my-1" />
				<span class="pb-2 pt-3 text-xs font-medium text-neutral-400 dark:text-neutral-500">Show:</span>
				<CustomSwitch @bind-Checked="@showFlights"
							  Label="Flights"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.ShowGroups"
							  Label="Groups"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.ShowNotes"
							  Label="Notes"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@Scheduler!.ShowPeopleScheduled"
							  Label="People Schedule"
							  Class="mb-2 justify-between" />
				<CustomSwitch @bind-Checked="@showShiftConflicts"
							  Label="Shift conflits"
							  Class="mb-2 justify-between" />
			</div>
		</ChildContent>
	</MudMenu>
</div>

@namespace GOPS.Blazor.Server.Components.Internal

@code {
	bool showFlights;
	bool showShiftConflicts;

	[CascadingParameter]
	private Scheduler? Scheduler { get; set; }

	[Parameter]
	public EventCallback<int> OnOffsetDate { get; set; }

	[Parameter]
	public EventCallback<ViewType> OnViewChange { get; set; }

	[Parameter]
	public EventCallback<bool> OnOptionsChange { get; set; }

	async Task OffsetDate(int offset)
	{
		await OnOffsetDate.InvokeAsync(offset);
	}

	async Task ViewChanged(ViewType viewType)
	{
		await OnViewChange.InvokeAsync(viewType);
	}
}
