<CascadingValue Value="@this">
	<SchedulerToolbar OnViewChange="SetView"
					  OnOffsetDate="OffsetDate" />

	<div id="scheduler_section"
		 class="scheduler-scrollbar flex flex-col overflow-auto h-[calc(100vh-280px)] md:h-[calc(100vh-276px)] rounded-2xl">
		<div class="flex flex-col z-60 min-w-fit pb-1 rounded-b-2xl bg-surface dark:bg-surface-dark"
			 style="@FixedStyle">
			<div class="grid w-full gap-y-1"
				 style="@GridTemplateStyle">
				<SchedulerHeader />

				<SchedulerPeoplesScheduled />

				<SchedulerNotes OnNoteChange="NoteChange" />
			</div>
		</div>

		@if (ViewByPeople)
		{
			@if (showGroups)
			{
				<SortableWrapper OnDataChanged="@(() => StateChange())">
					<Sortable TItem="Group"
							  Items="Groups"
							  Options="@options"
							  Class="min-w-fit mt-2 flex flex-col gap-y-4">
						<Template Context="group">
							<MudExpansionPanels MultiExpansion="true"
												Elevation="0"
												Class="scheduler-groups"
												Style="-webkit-tap-highlight-color: transparent">
								<MudExpansionPanel @key="group"
												   HideIcon="true"
												   Class="">
									<TitleContent>
										<SchedulerGroupTitle GroupName="@group.Name"
															 PeopleCount="@group.Peoples.Count"
															 TotalGroupHours="GetTotalHoursPerGroup(group.Id)" />
									</TitleContent>

									<ChildContent>
										<SchedulerShifts Peoples="group.Peoples" />
									</ChildContent>
								</MudExpansionPanel>
							</MudExpansionPanels>
						</Template>
					</Sortable>
				</SortableWrapper>
			}
			else
			{
				<div class="min-w-fit">
					<SchedulerShifts Peoples="Peoples" />
				</div>
			}
		}
		else
		{

		}

		@* 		@if (ViewByPeople)
		{
		@if (ShowGroups)
		{
		<SchedulerGroup @ref="@schedulerGroup"
		T="Group"
		Groups="Groups">
		<TitleContent Context="groupHeader">
		<SchedulerGroupTitle GroupName="@groupHeader.Name"
		PeopleCount="@groupHeader.Peoples.Count"
		TotalGroupHours="GetTotalHoursPerGroup(groupHeader.Id)" />
		</TitleContent>

		<ShiftContent Context="group">
		<SchedulerShifts Peoples="group.Peoples"
		FixedStyle="@FixedStyle"
		GridTemplateStyle="@GridTemplateStyle" />
		</ShiftContent>
		</SchedulerGroup>
		}
		else
		{
		<div class="min-w-fit">
		<SchedulerShifts Peoples="Peoples"
		FixedStyle="@FixedStyle"
		GridTemplateStyle="@GridTemplateStyle" />
		</div>
		}
		}
		else
		{

		} *@


		<MudScrollToTop TopOffset="100"
						Selector="#scheduler_section"
						VisibleCssClass="visible"
						HiddenCssClass="invisible">
			<svg width="24px"
				 height="24px"
				 viewBox="0 0 24 24"
				 fill="none"
				 stroke="currentColor"
				 stroke-width="1.5"
				 stroke-linecap="round"
				 stroke-linejoin="round">
				<path d="M5 16L12 9L19 16" />
			</svg>
		</MudScrollToTop>

		<MudScrollbar Selector=".scheduler-scrollbar"
					  Hide="false"
					  Style="width: 0px !important;"
					  BorderRadius="6" />

	</div>
</CascadingValue>

@namespace GOPS.Blazor.Server.Components
@using GOPS.Blazor.Server.Components.Internal
